.noogie-nav {
  nav {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #CBCED2;
    margin: 25px 0;

    ul {
      padding: 10px 30px;
      margin-bottom: 0;

      li {
        float: left;
        list-style-type: none;
        margin-right: 15px;

        a {
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
}
