<!doctype html>
<html<% if (includeModernizr) { %> class="no-js"<% } %> lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appname %></title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <% if (includeModernizr) { %>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild --><% } %>
  </head>
  <body ng-app="<%= appName %>">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <% if (includeBootstrap) { %>

    <div class="container">
      <noogie-nav></noogie-nav>
      <ng-view><!-- Angular Routes --></ng-view>
    </div>

    <% } %>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <% if (includeBootstrap) { %>
    <!-- build:js scripts/plugins.js -->
<% bsPlugins.forEach(function (plugin) { -%>
    <script src="<%= bsPath + plugin %>.js"></script>
<% }) -%>
    <!-- endbuild -->
    <% } %>
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>

    <!-- services:scripts -->

    <!-- factories:scripts -->

    <script src="scripts/controllers/main-controller.js"></script>
    <script src="scripts/controllers/about-controller.js"></script>
    <!-- controllers:scripts -->

    <script src="components/my-name/my-name-component.js"></script>
    <script src="components/noogie-nav/noogie-nav-component.js"></script>
    <!-- component:scripts -->

    <script src="components/hello-world/hello-world-directive.js"></script>
    <script src="components/about-me/about-me-directive.js"></script>
    <!-- directive:scripts -->
    <!-- endbuild -->
  </body>
</html>
